/* style.css */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  border: 50px solid #F5F5F5;
  display: flex;
  margin: 0;
  justify-content: center;
  position: relative;
}

canvas {
  background-color: #FFFFFF;
}

#magic-wizard {
  align-items: center;
  animation: float 12s cubic-bezier(0.22, 0.61, 0.36, 1) 0s infinite;
  display: flex;
  font-size: 32px;
  height: 150px;
  justify-content: center;
  left: 0px;
  position: fixed;
  transform: translate(-0%, 0%);
  top: 0%;
  width: 100px;
}

@keyframes float {
  25% {
    left: 0;
    top: 100%;
    transform: translate(0%, -100%);
  }
  50% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    left: 100%;
    top: 0;
    transform: translate(-100%, 0%);
  }
  100% {
    left: 0;
    top: 0;
    transform: translate(-0%, 0%);
  }
}